* {
  box-sizing: border-box;
}

.home-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  color: var(--lt-gray-b);
  font-family: 'Raleway', sans-serif;

}
  

/* Section - Main Container */
  .main-page {
    background : rgb(86, 21, 15);
    background : linear-gradient(180deg, rgba(86, 21, 15, 1) 10%, rgba(19, 18, 18, 1) 50%);
    grid-column: 2 / 2;
  }

  
  /* Main Content */
  .main-content {
    padding: 2.5rem;
    overflow-y: auto;
    h3{
      font-size: 1.5rem;
      font-weight: 500;
      color: white;
      margin-top: 1.5rem;
    }
  }

  .m-greeting {
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 0.8rem;
    margin-top: 2rem;
  }

  /* Library Mix */
  .m-library-mix {
    font-size: 1em;
    font-weight: 500;
    color: var(--white);
  }

  .l-tiles {
    list-style: none;
    border-radius: 3px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 0.8rem;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
  }
  
  .l-tile {
    border-radius: 2px;
    background-color: rgba(152, 152, 152, 0.2);
    height: 6rem;
    width: 18rem;
    max-height: 10rem;
    max-width: 30rem;
    align-items: center;
    display: flex;
    text-decoration: none; 
    cursor: pointer; 
  }

  .l-tile-art {
    border-radius: 1px;
    aspect-ratio: 1 / 1;
    height: 100%;
    align-self: center;
  }
  
  #library-artist-link{
    display: flex;
    text-decoration: none;
  }

  .lt-art {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  #l-tile-title {
    font-size: 1.1rem;
    padding-left: 1rem;
    color: var(--white);
    text-decoration: none;
  }

  /* Suggestions Mix */
  .m-suggestions {
    width: 100%;
    height: 100%;
    /* border: 1px solid gray; */
    display: flex;
    flex-direction: column;
  }

  .s-title {
    font-size: 1.5em;
    font-weight: 500;
    color: white;
    margin-top: 1rem; 
    margin-bottom: 0.5rem; 
    display: flex;
  }

  // .s-row {
  //   list-style: none;
  //   display: flex;
  //   flex-direction: row;
  //   flex-wrap: wrap;
  //   justify-content: space-between;
  //   /* border: 1px solid gray; */
  //   /* height: 10rem; */
  //   flex-basis: 20%;
  //   width: 100%;
  //   align-items: center;
  //   margin-bottom: 4rem;
  // }

  // .s-tile {
  //   display: flex;
  //   flex-direction: column;
  //   flex-basis: 20%;
  //   height: 14rem;
  //   /* border: 1px solid gray; */
  //   border-radius: 2px;
  //   /* flex-grow: 1; */
  //   padding: 1%;
  //   margin: 1%;
  //   cursor: pointer;
  //   background-color: var(--dk-gray);
  // }

  .s-row {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 0.8rem;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 4rem;
  }
  
  .s-tile {
    display: flex;
    flex-direction: column;
    height: 14rem;
    border-radius: 2px;
    cursor: pointer;
    background-color: var(--dk-gray);
  }

  .s-tile-art {
    border-radius: 1px;
    aspect-ratio: 1 /1;
    flex-basis: 70%;
    align-self: center;
  }

  .s-tile-title {
    font-size: 0.9em;
    color: var(--white);
    padding-top: 1rem;
    padding-left: 1rem;
  }
  
  .s-tile-source {
    font-size: 0.7rem;
    color: var(--lt-gray-b);
    padding-top: 0.5erm;
    padding-left: 1rem;
  }
  
