/* Media Footer */

.media-footer {
  background-color: var(--dk-gray);
  border: 1px solid grey;
  grid-column: 1 / 2;
  height: 5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
/* Current Track Container */
.current-track {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  height: 100%;
  width: 25%;
  align-items: center;
  padding: 1em;
}

.ct-art {
  border: 1px solid white;
  height: 3.5rem;
  width: 3.5rem;
}

.ct-track-info {
  flex-direction: column;
  height: 100%;
  width: 50%;
  padding-left: 1rem;
}

.ct-title {
  color: white;
  font-size: 0.9em;
  padding: 0.2em
}

.ct-like {
  align-self: center;
  padding-left: 1rem;
}

.ct-artist {
  font-size: 0.8em;
  padding: 0.2em;
}



/* Audio Player Container */

// .audio-player-container{
//   width: 100%;
//   display: flex;
//   flex-direction: column;
// }
.media-player {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  height: 100%;
  width: 50%;
  align-items: center;
  justify-content: center;
  padding: 1em;

}
/* Media Controls Container */
.media-controls {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  height: 100%;
  width: 25%;
  align-items: flex-end;
  justify-content: center;
  padding: 1em;
}

