.album-tile-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:20rem;
  // width:30%;
  height: 100%;
  margin-top: 1em;
  // margin-bottom: 1em;
  // border: 1px solid white;
  align-content: space-between;
  justify-content: center;
}

.artist-album-tile-link{
  text-decoration: none;
  
}

.at-tile {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 30%;
  max-height: 25rem;
  max-width: 17rem;
  // border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--md-dk-gray);
}

.at-art {
  border-radius: 1px;
  aspect-ratio: 1 / 1;
  height: 100%;
  border-radius: 2px;
  padding: 1em;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2)
}

.at-art-img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  object-fit: contain;
}

.at-title {
  color: white;
  font-weight: 500;
  margin-left: 1em;
  margin-bottom: 0.2em;
  text-decoration: none;
}
.at-artist-name{
  color: white;
  margin-left: 1em;
}

.at-year {
  margin-left: 1em;
  margin-bottom: 1em;
  color: var(--lt-gray-a);
}

