.pl-create-container {
  background: rgb(79, 79, 79);
  background: linear-gradient(180deg, rgb(79, 79, 79) 10%, rgb(19, 18, 18) 45%);
  grid-column: 2 / 2;
  // padding: 2.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 6rem;
}

// HEADER

  .pl-create-header {
    display: flex;
    box-sizing: border-box;
    height: 16rem;
    width: 100%;
    // border: solid 1px grey;
    margin-top: 3rem;
    margin-left: 3rem;
  }

  .pl-create-art {
    // border: solid 1px grey;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--md-gray);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    margin-right: 1rem;
  }

  #pl-create-img {
    width: 30%;
    height: 30%;
    object-fit: contain;
  }

  .pl-create-info {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-top: 4rem;
    justify-content: space-around;
    h1 {
      font-size: 4rem;
      font-weight: 600;
      color: white;
    }
    p {
      font-size: 1.2rem;
      font-weight: 600;
      color: white;
    }
    h2 {
      font-size: 1.2rem;
      font-weight: 600;
      color: white;
    }
  }
  
  .pl-btn-delete {
    background-color: var(--dk-gray);
    color: gray;
    border: 1px solid var(--md-gray);
    border-radius: 12px;
    padding: 0.3rem;
    &:hover{
      cursor: pointer;
      font-weight: 600;
      color: white;
      background-color: rgb(86, 21, 15);
    
    }
  }
// CONTENT

  .pl-create-content{
    display: flex;
    flex-direction: column;
    margin: 3rem;
    border-top: 2px solid var(--md-gray);
    
    h2 {
      margin-top: 2rem;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      font-weight: 600;
      color: white;
    }
  }

  // PLAYLIST SONGS
  .pl-songs-container {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
  .song-li-album {
    text-decoration: none;
    font-size: 1rem;
    color: inherit;
    &:hover{
      cursor: pointer;
      color: white;
      text-decoration: underline;
    }
  }

  .btn-pl-remove {
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
    border-radius: 20px;
    border: 1px solid var(--md-gray);
    color: var(--md-gray);
    background-color: var(--dk-gray);
  
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      border: 1px solid var(--lt-gray-a);
      color: white;
      background-color: rgb(86, 21, 15);
  
    }
  }

  // SEARCH
  .pl-create-search {
    display: flex;
    box-sizing: content-box;
    background-color: var(--md-gray);
    height: 2.3rem;
    width: 26rem;
    margin-bottom: 1rem;
    align-items: center;
  
    label {
      display: flex;
      width: 100%;
  
      img {
        transform: scale(0.45);
        height: 2.1rem;
        width: 2.1rem;
        // aspect-ratio: 1 / 1;
      }
  
      #pl-create-search-input {
        width: 100%;
        // height: 1.2rem;
        background-color: var(--md-gray);
        border-style: none;
        padding: 0.4rem;
        font-size: 1rem;
        color: var(--lt-gray-a);
  
        &:focus {
          outline: none;
        }
      }
    }
  
    // hides label
    .visually-hidden {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }
  }

