:root {
  --blue: rgb(42, 64, 171);
  --green: rgb(102,212,110);
  --lt-green: rgb(110,223,122);
  --lt-gray-a: rgb(159, 159, 159); // #9f9f9f
  --lt-gray-b: rgb(180, 179, 179);
  --lt-gray-tran: rgb(180, 179, 179, 0.4);
  --white: rgb(255, 255, 255);
  --dk-gray: rgb(25, 24, 24);
  --md-dk-gray: rgb(40, 40, 40);
  --md-gray: rgb(60, 60, 60);
}