
.login-container {
  display: flex;
  background-color: white;
  background-size: 100%; 
  height: 100%;
  width: 100%;
  align-items: center;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 70%; 
}

.login-form h3 {
  display: flex;
  align-items: center;
}
.logo-inline{
  display: inline-flex;
  margin-top: 2em;
  margin-bottom: 1em;
}
.logo-black {
  display: flex;
  color: black;
  height: 2.5em;
  width: 2.5em;
  margin: 5px;
  align-items: center;

}
.logo-title {
  display: flex;
  align-items: center;
  margin: 5px;
}
hr {
  border: 0;
  width: 100%;
  border-top: 1px solid var(--lt-gray-a);
  margin-top: 1em;
  margin-bottom: 1em;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.form-input {
  padding: 7px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.submit-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-submit{
  background-color: var(--green);
  color: black;
  cursor: pointer;
  width: 8em;
  border-radius: 2em;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  font-weight: 700;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-signup{
  background-color: white;
  color: grey;
  cursor: pointer;
  text-decoration: none;
  width: 16em;
  border-radius: 2em;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  font-weight: 700;
  border: 1px solid black ;
  display: flex;
  align-items: center;
  justify-content: center;
}