
.signup-container {
  display: flex;
  background-color: white;
  background-size: 100%; 
  height: 100%;
  width: 100%;
  align-items: center;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  align-items: center;
}

.sub-h2 {
  font-size: 1.5em;
  font-weight: 600;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 60%; 
}

.sub-h3 {
  font-size: 0.9em;
  font-weight: 600;
}

.logo-inline{
  display: inline-flex;
  margin-top: 2em;
  margin-bottom: 1em;
}

.logo-black {
  display: flex;
  color: black;
  height: 2.5em;
  width: 2.5em;
  margin: 5px;
  align-items: center;

}
.logo-title {
  display: flex;
  align-items: center;
  margin: 5px;
  font-size: 1.4em;
  font-weight: 600;
  
}
hr {
  border: 0;
  width: 50%;
  border-top: 1px solid var(--lt-gray-a);
  margin-top: 1em;
  margin-bottom: 1em;

}

.login-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  font-size: .8em;
}

.form-input {
  width: 100%;
  padding: 7px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.input-label-txt {
  font-size: 0.75em;
  font-weight: 600;
  margin-top: 0.8rem;
}

.submit-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-submit{
  background-color: var(--green);
  color: black;
  cursor: pointer;
  width: 8em;
  border-radius: 2em;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  font-weight: 700;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.session-submit:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.1);
  background-color: var(--lt-green);
}

.have-acct-span {
  font-size: 0.8em;
  color: inherit;
  text-decoration: none;
}