
.splash-background {
  display: flex;
  background-color: var(--blue);
  background-size: 100%; 
  height: 100%;
  width: 100%;
}

.splash-container {
  display: block;
  height: 100%;
  width: 100%;
}

.splash-header {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  height: 3.5rem;
  background-color: black;
  font-family: 'Raleway', sans-serif;
  color: white;
}

.splash-logo-container {
  display: flex;
  align-items: center;
  margin-left: 1.2em;
  height: 100%;
}

.logo-white-splash {
  height: 2rem;
  width: 2rem;
}

.splash-header h1 {
  display: flex;
  align-items: center;
  margin-left: 0.5em;
  font-size: 1.3rem;
  font-weight: 700;
}

.splash-nav {
  display: flex;
  align-items: center;
  font-weight: 700;
  margin-right: 2em;

}

.splash-nav li {
  display: flex;
  padding-inline-end: 1.8em;
  font-size: 0.8em;
}

.splash-nav li:hover {
  color: var(--green);
  cursor: pointer;
}

.disable {
  color: white;
  pointer-events: none; 
}

.link-to {
  text-decoration: none;
  color: white;
}

.link-to:hover {
  color: var(--green);
}

.splash-content {
  height: 80vh;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: var(--green);
  text-align: center;
  justify-content: center;
  margin: 1em;
  padding: 1em;
}

#splash-content-left  {
  font-size: 8vw;/* vw = % view-width*/
  position: relative;
  right: 1em;
}
#splash-content-right  {
  font-size: 8vw;  
  position: relative;
  left: 1em;
}
#splash-content-center  {
  font-size: 2vw;
  padding: 1.5em;
  margin-bottom: 2em;
}

.splash-get-btn{
  background-color: var(--green);
  color: var(--blue);
  cursor: pointer;
  border-radius: 2em;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  font-weight: 700;
  border: none;
  transition: 100ms;
  text-decoration: none;
}

.splash-get-btn:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.1);
  background-color: var(--lt-green);
}

.splash-footer{
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  background-color: black;
  font-family: 'Raleway', sans-serif;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
}

.splash-footer h1 {
  display: flex;
  align-items: center;
  margin-left: 0.5em;
  font-size: 1.3rem;
  font-weight: 700;
  
}

.logo-white-GH,
.logo-white-LI {
  display: flex;
  color: white;
  background-color: black;
  height: 2em;
  width: 2em;
  margin: 5px;
  align-items: center;
  cursor: pointer;
}





