:root {
--splash-blue: rgb(42, 64, 171);
--splash-green: rgb(102,212,110);
}

.splash-background {
  display: flexbox;
  background-color: var(--splash-blue);
  background-size: 100%; 
  height: 100%;
  width: 100%;
}

.splash-container {
  display: block;
  height: 100%;
}

.splash-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: black;
  font-family: 'Raleway', sans-serif;
  color: white;
}

.splash-logo-container {
  display: flex;
  align-items: center;
  margin-left: 1em;
}

.fa-solid {
  color: white;
  scale: 100%;
}

.splash-header h1 {
  display: flex;
  align-items: center;
  margin-left: 0.5em;
}

.splash-nav {
  display: flex;
  align-items: center;
  font-weight: 700;
  margin-right: 2em;

}

.splash-nav li {
  display: flex;
  padding-inline-end: 1.8em;
  font-size: 0.8em;
}

.splash-nav li:hover {
  color: var(--splash-green);
  cursor: pointer;
}

.disable {
  color: white;
  pointer-events: none; 
}

.link-to {
  text-decoration: none;
  color: white;
}

.link-to:hover {
  color: var(--splash-green);
}

.splash-content {
  height: 80vh;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: var(--splash-green);
  text-align: center;
  justify-content: center;
  margin: 1em;
  padding: 1em;
}

#splash-content-left  {
  font-size: 8vw;/* vw = % view-width*/
  position: relative;
  right: 1em;
}
#splash-content-right  {
  font-size: 8vw;  
  position: relative;
  left: 1em;
}
#splash-content-center  {
  font-size: 2vw;
  padding: 1.5em;
}

.splash-get-btn{
  background-color: var(--splash-green);
  color: var(--splash-blue);
  cursor: pointer;
  border-radius: 2em;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  font-weight: 700;
  border: none;
}

.splash-footer{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: black;
  font-family: 'Raleway', sans-serif;
  color: white;
}

.splash-footer h1 {
  display: flex;
  align-items: center;
  margin-left: 0.5em;
  
}

.logo-white {
  display: flex;
  color: black;
  background-color: black;
  height: 2em;
  width: 2em;
  margin: 5px;
  align-items: center;
  cursor: pointer;
}

/* Doesn't work wth */

/* f-link {
  color: black;
  background-color: black;
} */

/* f-button {
  background: none;
  border: none;
  outline: none;
  
} */

/* .fa-github:hover, .fa-linkedin:hover {
  cursor: pointer;
  background-color: var(--splash-green);
} */

  /* BUG: 
  gh and li icons are round when colored, and background is jsut a thin line */


  /* .fa-github, .fa-linkedin {
    color: white;
    background-color: black;
  } */



